<section id="form">
	<div class="container">
		<div class="row">
			<div class="headerss">
					<h2>verify your account</h2>
			</div>
				
			<div id="countdown">
				<div id='tiles'>
					<span>{{minutes | number : '2.0-2'}}</span>
					<span>{{seconds | number : '2.0-2'}}</span>
				</div>
				<div class="labels">
					<li>Mins</li>
					<li>Secs</li>
				</div>
			</div>
		</div>
		<div class="blank">

		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="login-form form-media">
					<form (ngSubmit)="f.form.valid && onVerification()" #f="ngForm" novalidate>
						<input type="hidden" name="email" [(ngModel)]="model.email" #email="ngModel" required="required" />
						<label for="email">{{model.email}}</label>
						<input type="password" name="otp" [(ngModel)]="model.otp" #otp="ngModel" required="required" placeholder="otp" />


						<div class="row">
							<div class="col-sm-6">
								<button type="submit" class="btn btn-default">Verify</button>

							</div>
							<div class="col-sm-6">
								<a class="right-content" (click)="resendOtp()">Resend Otp</a>
							</div>
						</div>

						<div *ngIf="otpExpired===true">Otp is expired </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>