<section id="form">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="login-form">
					<h2>Login to your account</h2>
					<form (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
						<input type="text" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required="required" placeholder="Name" />
						<input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required="required" placeholder="password" />
						<span>
							<input type="checkbox" class="checkbox"> 
							Keep me signed in
						</span>
						<button type="submit" class="btn btn-default">Login</button>
						<div *ngIf="loginfailed===true">Username or Password is wrong</div>
					</form>
					<br/>
		<a routerLink="/registration">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</section>