<!-- <div class="container login_background">
	<div class="top">
		<h1 id="title" class="hidden">
			<span id="logo">Daily <span>UI</span></span>
		</h1>
	</div>
	<div class="login-box animated fadeInUp">
		<div class="box-header">
			<h2>Log In</h2>
		</div>
		<form (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
		<label for="userName">Username</label> 
		<input type="text" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required="required"> 
		<div *ngIf="f.submitted && !userName.valid" class="help-block">User
					Name is required</div>
		</div>
		<br/> 
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
		<label for="password">Password</label>
		<input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required="required"> 
		<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
		</div>
		<br/>
		<button type="submit">Sign In</button>
		<br/> 
		<a href="#"><p class="small">Forgot your password?</p></a> 
		<br/>
		<a routerLink="/registration">Sign Up</a>
		</form>
	</div>
</div>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script> -->

<section id="form">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="login-form">
					<h2>Login to your account</h2>
					<form (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
						<input type="text" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required="required" placeholder="Name" />
						<input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required="required" placeholder="password" />
						<span>
							<input type="checkbox" class="checkbox"> 
							Keep me signed in
						</span>
						<button type="submit" class="btn btn-default">Login</button>
						<div *ngIf="loginfailed===true">Username or Password is wrong</div>
					</form>
				</div>
			</div>
			<!-- <div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div> -->
			<!-- <div class="col-sm-4">
				<div class="signup-form">
					<h2>New User Signup!</h2>
					<form action="#">
						<input type="text" placeholder="Name"/>
						<input type="email" placeholder="Email Address"/>
						<input type="password" placeholder="Password"/>
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div>
			</div> -->
		</div>
	</div>
</section><!--/form-->