<section id="form1">
	<div class="container">
		<div class="row">
			<div class="signup-form">
				<h2>New User Signup!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<!-- <img class="image" [src]="url" height="300px" width="300px"> -->
				<input type="image" id="my_fileUrl" [src]="url" height="300px" width="300px" (click)="clickFile(fileInput)" />
				<input id="my_file" #fileInput type='file' (change)="readUrl($event)" style="display: none;">
			</div>
			<div class="col-md-8">
				<div class="signup-form">
					
					<form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid}">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="User Name" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required/>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !userName.valid" class="help-block">User Name is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="First Name" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required/>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Middle Name" name="middleName" [(ngModel)]="model.middleName" #middleName="ngModel" required/>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !middleName.valid" class="help-block">Middle Name is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Last Name" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required/>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<input type="email" placeholder="Email Address" name="email" [(ngModel)]="model.email" #email="ngModel" required/>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<input type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<input type="date" name="birthDate" [(ngModel)]="model.birthDate" #birthDate="ngModel" required>
								</div>
								<div class="col-md-6">
									<div *ngIf="f.submitted && !birthDate.valid" class="help-block">Birthdate is required</div>
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
							<div class="row">
								<div class="col-md-6">
									<div class="col-md-6">
										<div class="col-md-12">
											Male
										<!-- </div>
										<div class="col-md-6"> -->
											<input type="radio" name="gender" [(ngModel)]="model.gender" #male="ngModel" [value]="male" (change)="onSelectionChange('male')">
										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-12">
											Female
										<!-- </div>
										<div class="col-md-6"> -->
											<input type="radio" name="gender" [(ngModel)]="model.gender" #female="ngModel" [value]="female" (change)="onSelectionChange('female')">
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>